<section id="body_content">
  <section id="body">
    <div id="speakers">
      <% @speakers.each do |speaker| %>
        <div class="speaker_container">
          <div class="speaker_avatar">
            <%= image_fu speaker.photo, "200x200" %>
          </div>

          <div class="speaker_name">
            <%= speaker.name %>
          </div>

          <div class="speaker_description">
            <%=raw speaker.description %>
          </div>
          <div class="speaker_morelink">
            <p class="more_info"><%= link_to "More Information", refinery.speakers_speaker_path(speaker), :class => 'btn btn-primary' %></p>
          </div>
        </div>
      <% end %>
    </div>
  </section>
</section>

