<h3>This is sidebar</h3>
<div class="sidebar_logo">
  <img src="http://cdn.rubysource.com/wp-content/themes/rubysource/images/ruby-source-logo.png" alt="">
</div>
<%= link_to t('join'), '/contact', :class => 'btn btn-success' %>