body {
  background: #ccc;
  color: #591B14;
  font-family: "Maven Pro", sans-serif;

  #sidebar {
      background: #999;
      border-right: 1px solid #591B14;
      border-bottom: 1px solid #591B14;
      float: left;
      height: 100%;
      min-height: 500px;
      top: 40px;
      z-index: 300;
  }

  #speakers {
    float: left;
    margin: 10px auto 20px auto;

    .speaker_container {
      text-align: center;
      float: left;
      margin: 5px 15px;

      .speaker_contacts {
        background-color: #ddd;
        margin: 5px;
      }

      .speaker_name {
        font-weight: bold;
      }

      .speaker_avatar {
        width: 200px;
        height: 200px;
        vertical-align: middle;
        line-height: 200px;
        margin-bottom: 10px;

        img {
        -webkit-border-radius: 50%;
                border-radius: 50%;
        border: 1px solid #bbb;
        -webkit-box-shadow: 0 2px 5px #999;
                box-shadow: 0 2px 5px #999;
        -webkit-transition: border-radius 1s ease;
           -moz-transition: border-radius 1s ease;
            -ms-transition: border-radius 1s ease;
             -o-transition: border-radius 1s ease;
                transition: border-radius 1s ease;

        &:hover {
          -webkit-border-radius: 0;
                border-radius: 0;
          border: 3px solid #222;
        }
      }
    }
  }
}

  .switch-lang {
    float: left;
  }
}


body > .container-fluid {
  padding: 0;
}
